<main>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 login-form">
                        <form [formGroup]="forgotPassword" (ngSubmit)="onForgotPasswordSubmit()">
                            <div class="mb-3 form-input">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" formControlName="username">
                                <p *ngIf="isInvalidInput('username')" class="formInputError">
                                    <small *ngIf="forgotPassword.controls['username'].errors?.['required']" class="text-danger">
                                        Please enter a Username
                                    </small>
                                </p>
                            </div>
                            
                            <div class="mb-3 form-input">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" formControlName="password">
                                <p *ngIf="isInvalidInput('password')" class="formInputError">
                                    <small *ngIf="forgotPassword.controls['password'].errors?.['required']" class="text-danger">
                                        Please enter a password
                                    </small>
                                </p>
                            </div>
                            
                            <div class="mb-3 form-input">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                                <p *ngIf="isInvalidInput('confirmPassword')" class="formInputError">
                                    <small *ngIf="forgotPassword.controls['confirmPassword'].errors?.['required']" class="text-danger">
                                        Please confirm your password
                                    </small>
                                    <small *ngIf="forgotPassword.controls['confirmPassword'].errors?.['mustMatch']" class="text-danger">
                                        Passwords must match
                                    </small>
                                </p>
                            </div>
                            
                            <div class="submit-btn">
                                <button type="submit" class="btn btn-primary" style="border-radius: 0;" 
                                [disabled]="!forgotPassword.valid">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
